body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  text-decoration: none;
}

html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;

  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  min-width: $width-mobile;
  max-width: $width-desktop;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: $width-tablet) {
    padding-right: 45px;
    padding-left: 45px;
  }
  @media (min-width: $width-desktop) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.link {
  color: $text-color;
}

.link:hover,
.link:focus {
  color: $halfhidden;
}

.link:active {
  color: $main-color;
}

.button {
  color: $bg-block;

  background-color: $main-color;
}

.button:hover,
.button:focus {
  opacity: 0.9;
}

.button:active {
  color: darken($color: $bg-block, $amount: 10%);

  background-color: darken($color: $main-color, $amount: 10%);
}

.input--valid {
  border: 1px solid $text-color;
}

.input--invalid {
  border: 1px solid $invalid;
}

.no-scroll {
  overflow: hidden;
}

.font-size--text {
  font-size: 16px;
  @media (min-width: $width-tablet) {
    font-size: 18px;
  }
  @media (min-width: $width-desktop) {
    font-size: 22px;
  }
}
