  
$bg-block: #f6f7ff;
$text-color: #1f1e25;
$text-color-light: $bg-block;
$main-color: #2c36f2;
$halfhidden: #707c87;
$color-line: #c1c2ca;
$color-invalid: #ff0000;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;
