.calculator {
  padding-top: 55px;
  padding-bottom: 56px;

@extend .container;

  @media (min-width: $width-tablet) {
    padding-top: 73px;
    padding-bottom: 73px;
  }
  @media (min-width: $width-desktop) {
    padding-top: 101px;
    padding-bottom: 102px;
  }
}

.calculator__cell {
  @media (min-width: $width-desktop) {
    display: inline-block;
    width: 600px;
    margin-right: 70px;
  }
}

.calculator__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 22px;
  line-height: 1.2;
  color: $text-color;

@extend .font-family--bold;
  @media (min-width: $width-tablet) {
    margin-bottom: 30px;

    font-size: 32px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 53px;

    font-size: 41px;
  }
}

.calculator__label-group {
  display: block;
  margin-top: 0;

  line-height: 1.4;
  color: $text-color;

@extend .font-family--medium;

@extend .font-size--text;

  @media (min-width: $width-tablet) {
    margin-bottom: 25px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 30px;
  }
}

.calculator__label-group--step-1 {
  margin-bottom: 14px;
  @media (min-width: $width-tablet) {
    margin-bottom: 19px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 22px;
  }
}

.calculator__label-group--step-2 {
  margin-bottom: 8px;
  @media (min-width: $width-tablet) {
    margin-bottom: 14px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 16px;
  }
}

.calculator__select {
  position: relative;

  width: 100%;

  font-size: 16px;
  line-height: 1.4;
  color: $text-color;

  border: 1px solid $text-color;
  border-radius: 4px;

  appearance: none;

  @media (min-width: $width-tablet) {
    background-position: right 22px top 24px;
  }
}

.calculator__options {
  display: none;
}

.calculator__options--visible {
  display: block;
}

.calculator__legend {
  padding: 18px 35px 18px 15px;

  background-image: url("./../../assets/img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 14px top 24px;
  background-size: 18px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;

@extend .font-family--medium;

  @media (min-width: $width-tablet) {
    padding-right: 50px;
    padding-left: 22px;
  }
}

.calculator__legend:hover,
.calculator__legend:focus {
  background-color: $bg-block;
}

.calculator__option {
  display: block;
  padding: 18px 35px 18px 15px;

  cursor: pointer;

@extend .font-family--regular;

  @media (min-width: $width-tablet) {
    padding-right: 50px;
    padding-left: 22px;
  }
}

.calculator__option:first-child {
  border-top: 1px solid $text-color;
}

.calculator__option:not(:last-of-type) {
  border-bottom: 1px solid $color-line;
}

.calculator__option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.calculator__option:hover,
.calculator__option:focus {
  background-color: $bg-block;
}

.calculator__group {
  position: relative;
}

.calculator__group:not(:last-of-type):not(.calculator__group--step-1) {
  margin-bottom: 10px;
  @media (min-width: $width-tablet) {
    margin-bottom: 14px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 20px;
  }
}

.calculator__group:last-of-type:not(.calculator__group--step-1) {
  margin-bottom: 12px;
  @media (min-width: $width-tablet) {
    margin-bottom: 17px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 24px;
  }
}

.calculator__group--step-2 {
  padding-top: 25px;
  @media (min-width: $width-tablet) {
    padding-top: 34px;
  }
}

.calculator__input-group {
  position: relative;
}

.calculator__label-input {
  display: block;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.4;
  color: $color-label;

@extend .font-family--medium;
}

.calculator__input {
  width: 100%;
  padding: 20px 45px 19px 55px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: $text-color;

  border-radius: 4px;

@extend .font-family--medium;
}

.calculator__input--fee,
.calculator__input--property {
  margin-bottom: 8px;
}

.calculator__input--term {
  margin-bottom: 4px;
}

.calculator__input::-webkit-outer-spin-button,
.calculator__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calculator__input[type="number"] {
  -moz-appearance: textfield;
}

.calculator__input:hover,
.calculator__input:focus {
  background-color: $bg-block;
}

.calculator__btn {
  position: absolute;

  background-color: transparent;
  border: none;
}

.calculator__btn--decrease {
  top: 17px;
  left: 19px;

  padding: 5px;

  transition: 0.3s;
}

.calculator__btn--decrease::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;

  background: linear-gradient(transparent, transparent 7px, $text-color 7px, $text-color 9px, transparent 9px, transparent);
}

.calculator__btn--increase {
  top: 18px;
  right: 10px;

  padding: 5px;

  transition: 0.3s;
  @media (min-width: $width-tablet) {
    right: 19px;
  }
}

.calculator__btn--increase::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;

  background: linear-gradient(to left, transparent, transparent 7px, $text-color 7px, $text-color 9px, transparent 9px, transparent),
  linear-gradient(transparent, transparent 7px, $text-color 7px, $text-color 9px, transparent 9px, transparent);
}

.calculator__btn--decrease:hover,
.calculator__btn--decrease:focus,
.calculator__btn--increase:hover,
.calculator__btn--increase:focus {
  transform: scale(110%);
}

.calculator__btn--decrease:active,
.calculator__btn--increase:active {
  transform: scale(90%);
}

.calculator__prompt {
  margin: 0;

  font-size: 14px;
  line-height: 1.4;
  color: $color-label;
  letter-spacing: 0.001em;

@extend .font-family--medium;
}

.calculator__range {
  width: 100%;
  height: 1px;
  margin-bottom: 13px;

  background-color: $color-line;
}

.calculator__range::-webkit-slider-thumb {
  width: 25px;
  height: 25px;

  background-color: $main-color;
  border-radius: 50%;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.calculator__range::-moz-range-thumb {
  width: 15px;
  height: 15px;

  background-color: $main-color;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.calculator__checkbox-label {
  font-size: 14px;
  line-height: 1.2;
  vertical-align: middle;
  color: $text-color;

  cursor: pointer;

@extend .font-family--medium;

  @media (min-width: $width-tablet) {
    font-size: 16px;
  }
}

.calculator__checkbox-label::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  vertical-align: middle;

  background-color: white;
  border: 1px solid $color-line;
  border-radius: 2px;
  cursor: pointer;
}

.calculator__checkbox-label--active::before {
  background-color: $main-color;
  background-image: url("./../../assets/img/icons/icon-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 6px;
  border-color: $main-color;
}

.calculator__checkbox-label:hover::before,
.calculator__checkbox-label:focus::before {
  border: 1px solid $color-label;
}

.calculator__range-value {
  margin: 0;

  font-size: 14px;
  line-height: 1.2;
  color: $color-label;

@extend .font-family--medium;
}

.calculator__term {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 1.2;
  color: $color-label;

@extend .font-family--medium;
}
