.header {
  background-color: $bg-block;
}

.header__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 11px;

@extend .container;

  @media (min-width: $width-tablet) {
    align-items: center;
    padding-top: 22px;
    padding-bottom: 19px;
  }
  @media (min-width: $width-desktop) {
    justify-content: flex-start;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.header__logo-container {
  margin-left: 30px;
  @media (min-width: $width-tablet) {
    width: auto;
    margin-right: 15px;
    margin-left: 0;
  }
  @media (min-width: $width-desktop) {
    margin-right: 50px;
  }
}

.header__logo {
  @media (min-width: $width-tablet) {
    width: 133px;
    height: auto;
  }
  @media (min-width: $width-desktop) {
    width: 149px;
    margin-right: 58px;
    margin-bottom: 4px;
  }
}

.header-nav {
  display: none;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.header-nav-list--visible {
  display: block;
  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.header-nav-list__item {
  width: 100%;

  border-bottom: 1px solid #c1c2ca;
  @media (min-width: $width-tablet) {
    width: auto;

    border: none;
  }
}

.header-nav-list__item:not(:last-child) {
  @media (min-width: $width-tablet) {
    margin-right: 21px;
  }
  @media (min-width: $width-desktop) {
    margin-right: 26px;
  }
}

.header-nav-list__link {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: 1.5;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;

@extend .link;

  @media (min-width: $width-tablet) {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 14px;
  }
  @media (min-width: $width-desktop) {
    font-size: 16px;
  }
}

.header-nav-list__link--active {
  color: $main-color;
}
.header-user {
  @media (min-width: $width-tablet) {
    order: 2;
  }
  @media (min-width: $width-desktop) {
    margin-left: auto;
    padding-left: 30px;
  }
}

.header-user__link {
  display: flex;

  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;

@extend .link;

  @media (min-width: $width-tablet) {
    font-family: "Roboto-Regular", "Arial", sans-serif;
  }
}

.header-user__label {
  display: none;
  @media (min-width: $width-desktop) {
    display: inline;
  }
}

.header-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.header-user__link:hover,
.header-user__link:focus {
  color: $halfhidden;
}

.header-user__icon {
  @media (min-width: $width-tablet) {
    width: 20px;
    height: 22px;
    margin-top: -4px;
  }
  @media (min-width: $width-desktop) {
    margin-top: 0;
    margin-right: 10px;
  }
}

.header__toggle {
  position: absolute;
  top: 24px;
  left: 23px;

  display: block;
  width: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.header__toggle::before,
.header__toggle::after,
.header__toggle div {
  content: "";

  display: block;
  width: 100%;
  height: 1px;
  margin: 4px 0;

  background: $text-color;
  border-radius: 3px;

  transition: 0.5s;
}

.header-toggle--open:before {
  transform: translateY(9px) rotate(135deg);
}

.header-toggle--open:after {
  transform: translateY(-7px) rotate(-135deg);
}

.header-toggle--open div {
  transform: scale(0);
}
