.converter {
  padding-top: 50px;
  padding-bottom: 110px;
}

.converter__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 1.2;
  @extend .font-family--bold;
  color: $text-color;
  @media (min-width: $width-tablet) {
    font-size: 32px;

  margin-bottom: 30px;
  }
  @media (min-width: $width-desktop) {
    font-size: 41px;

  margin-bottom: 57px;
  }
}

.converter-form {
  position: relative;

  display: grid;
  padding-bottom: 100px;

  grid-column-gap: 120px;
  grid-row-gap: 45px;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 85px;
  }
}

.converter-form::before {
  @media (min-width: $width-tablet) {
    content: "";
  position: absolute;
  top: 58px;
  left: calc(50% - 24px);

  display: block;
  width: 56px;
  height: 34px;

  background-image: url("../../assets/img/icons/icon-arrows.svg");
  background-repeat: no-repeat;
  }
}

.converter-form__wrapper {
  display: flex;
}

.converter-form__group {
  margin: 0;
  padding: 0;

  @extend .font-family--medium;
  color: $text-color;

  border: none;
}

.converter-form__label {
  display: block;
  margin-bottom: 23px;
  font-size: 16px;

  line-height: 1.2;
  @media (min-width: $width-tablet) {
    font-size: 18px;
  }
  @media (min-width: $width-desktop) {
    font-size: 22px;
  }
}

.converter-form__input {
width: 100%;
  height: 60px;
  padding: 13px 20px 13px 20px;

  font-size: 24px;
  text-align: center;
  border-radius: 4px;
border: 1px solid $text-color;
background-color: transparent;
}

.converter-form__input--invalid {
  outline: 2px solid $color-invalid;
}

.converter-form__select {
  border-radius: 4px;
  width: 95px;
  height: 60px;
  margin-left: 15px;
  padding-left: 13px;
  border: 1px solid $text-color;
  background-color: transparent;

  font-size: 22px;
  text-transform: uppercase;
  @media (min-width: $width-tablet) {
    font-size: 24px;
    width: 120px;
  }
  @media (min-width: $width-desktop) {
    font-size: 30px;
  }
}

.converter-form__option {
  font-size: 22px;
  @media (min-width: $width-tablet) {
    font-size: 24px;
  }
  @media (min-width: $width-desktop) {
    font-size: 30px;
  }
}

.converter-form__input--date {
  justify-self: flex-start;
  -webkit-appearance: none;
}

.converter-form__input--date::-webkit-inner-spin-button,
.converter-form__input--date::-webkit-calendar-picker-indicator {
  width: 40px;
  height: 45px;
  background-image: url("../../assets/img/icons/icon-calendar.svg");
  background-size: 40px 45px;
}

.converter-form__submit {

width: 100%;
  padding: 5px 50px;
min-height: 60px;
  font-size: 16px;
  line-height: 1.2;
  @extend .font-family--medium;

  border: none;
  border-radius: 4px;
  justify-self: flex-start;
@extend .button;

  @media (min-width: $width-tablet) {
    font-size: 18px;
    justify-self: flex-end;
  }
}

.converter-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 477px;
  padding: 34px 30px 39px 30px;

  background-color: $bg-block;
  @media (min-width: $width-tablet) {
    padding: 34px 70px 39px 70px;

  }
}

.converter-history__title {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  @extend .font-family--medium;
  @media (min-width: $width-tablet) {
    font-size: 24px;
    line-height: 2.1;
  }
  @media (min-width: $width-desktop) {
    font-size: 28px;
  }
}

.converter-history__table {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 289px;
  padding-top: 15px;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 1.2;
  @extend .font-family--regular;
  @media (min-width: $width-tablet){
    padding-top: 30px;
  }
}

.converter-history__table::before {

  @media (min-width: $width-tablet) {
    content: "";
    position: absolute;


    display: block;


    background-color: $color-line;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    left: 50%;
    top: 0;
    width: 1px;
  height: 100%;
  }

}

.converter-history__column {
  width: 100%;
  @media (min-width: $width-tablet) {
    flex-basis: 50%;
    width: auto;
    margin-right: 30px;
  }
  @media (min-width: $width-desktop) {

    margin-right: 10px;
  }
}

.converter-history__column:nth-child(2) {
  padding-left: 50px;
}

.converter-history__row {
  position: relative;
}

.converter-history__row::before {
  content: "";
  position: absolute;

  display: block;

  background-color: $color-line;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  bottom: -5px;
  width: 100%;
height: 1px;
@media (min-width: $width-tablet) {
  display: none;
}
}

.converter-history__row:not(:last-child) {
  margin-bottom: 25px;
}

.converter-history__date {
  min-width: 95px;
  margin-right: 40px;
  display: inline-block;
  margin-bottom: 5px;
  @media (min-width: $width-tablet) {
    width: auto;
    margin-bottom: 0;
  }
}

.converter-history__values {
  display: inline-block;
}

.converter-history__from {
  position: relative;

  min-width: 95px;
  margin-right: 65px;
}

.converter-history__from::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -52px;

  display: block;
  width: 40px;
  height: 16px;

  background-image: url("../../assets/img/icons/icon-arrow.svg");
  background-repeat: no-repeat;
}

.converter-history__to {
  min-width: 120px;
}

.converter-history__clear {
  align-self: flex-start;
  min-width: 180px;
  padding: 16px 28px 16px 29px;

  font-size: 14px;
  line-height: 1.2;
  @extend .font-family--medium;

  border: none;
  border-radius: 4px;

@extend .button;
@media (min-width: $width-tablet) {
  font-size: 16px;

}
}
