.map {
  padding-bottom: 60px;
  @media (min-width: $width-tablet) {
    margin-right: auto;
    margin-left: auto;
    padding-right: 45px;
    padding-bottom: 82px;
    padding-left: 45px;
  }
  @media (min-width: $width-desktop) {
    max-width: $max-width;
    padding-right: 15px;
    padding-bottom: 111px;
    padding-left: 15px;
  }
}

.map__title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 22px;
  font-family: "Romoto-Bold", "Arial", sans-serif;
  @media (min-width: $width-tablet) {
    margin-bottom: 36px;
    padding: 0;

    font-size: 31px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 60px;

    font-size: 39px;
  }
}

.map__content {
  height: $map-height-mobile;

  background-image: url("./../../assets/img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: $map-width-mobile $map-height-mobile;

  @media (min-width: $width-tablet) {
    height: $map-height-tablet;

    background-image: url("./../../assets/img/map-tablet.png");
    background-size: $map-width-tablet $map-height-tablet;
  }
  @media (min-width: $width-desktop) {
    background-image: url("./../../assets/img/map-desktop.png");
    background-size: $map-width-desktop $map-height-tablet;
  }
}
